<!-- REVOLUTION SLIDER -->
<div class="fullwidthbanner" data-height="1000" data-shadow="0" data-navigationStyle="preview">
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active p-100">
				<h1 class="display-4">ELEVATE SAFETY, <br />SPEED AND STYLE</h1>
				<p class="lead">Let's reach for the stars, together.</p>
				<hr class="my-4"> <a class="btn btn-primary btn-lg" href="index.html">OUR SERVICES <i class="fa fa-angle-right"></i></a>
				<%= link_to "GET A QUOTE",new_quote_path,class:"btn btn-danger btn-lg text-light"%>
			</div>
			<div class="carousel-item p-100" style="margin-bottom: 84px;">
				<h1 class="display-4">Residential Solutions</h1>
				<p class="lead">Join us in building a better, rocket powered, future and reach new heights.</p>
				<hr class="my-4"> <a class="btn btn-primary btn-lg" href="residential.html">FIND OUT MORE <i class="fa fa-angle-right"></i></a> </div>
			<div class="carousel-item p-100" style="margin-bottom: 84px;">
				<h1 class="display-4">Corporate Solutions</h1>
				<p class="lead">Your employees bathroom brakes have never been faster!</p>
				<hr class="my-4"> <a class="btn btn-primary btn-lg" href="commercial.html">FIND OUT MORE <i class="fa fa-angle-right"></i></a> </div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span> </button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span> </button>
	</div>
</div>
<!-- /REVOLUTION SLIDER -->
<!-- BUTTON CALLOUT -->
<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40 scrollTo"> <span class="font-lato fs-30 text-light">
		Did we convince you? 
		<strong>Contact us &raquo;</strong>
	</span> </a>
<!-- /BUTTON CALLOUT -->
<!-- Services -->
<section id="services" style="padding: 50px 0px;">
	<div class="container">
		<div class="heading-title heading-dotted text-center">
			<h2>Ours Services</h2> </div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<%= image_tag "AdobeStock_162479912.jpeg",class:"img-fluid" %>
					<h3 class="mt-10">Our Bona Fides</h3>
					<p>We have received over 15000 awards and acknowledgements for our many contracts from all over the galactic federation. Look on my Works, ye Mighty, and despair!</p> <a href="#portfolio" class="btn btn-primary scrollTo text-light">PORTFOLIO</a> </div>
			<div class="col-sm-4">
				<%# <img class="img-fluid" src="r_assets/hello.png" alt="img" /> %>
					<%= image_tag "hello.png",class:"img-fluid" %>
						<h3 class="mt-10">Residential Services</h3>
						<p>The residents are coming, you need to get out as fast as you can. The doom will come for all of us. I think I hear them, they are breaking down the door--to AMAZING VALUE!</p>
						<%= link_to "READ MORE",home_residential_path,class:"btn btn-primary text-light"%>
			</div>
			<div class="col-sm-4">
				<%= image_tag "AdobeStock_146216308.jpeg",class:"img-fluid" %>
					<h3 class="mt-10">Corporate Solutions</h3>
					<p>Reach new heights in productivity and cut down on wait time to get to do what needs to get done. With Rocket Elevators the future is here in our grasp, you must only take it.</p>
					<%= link_to "READ MORE",home_commercial_path,class:"btn btn-primary text-light"%>
			</div>
		</div>
	</div>
</section>
<!-- /Services -->
<!-- Parallax -->
<section class="parallax parallax-1" style="background-image: url('/assets/images/M.jpg');">
	<div class="overlay dark-3">
		<!-- dark overlay [1 to 9 opacity] -->
	</div>
	<div class="container">
		<div class="text-center">
			<h2 class="fs-40 fw-300">Reaching for the Stars since 1976</h2>
			<%= link_to "GET A QUOTE",new_quote_path,class:"btn btn-danger btn-lg"%> &nbsp; OR &nbsp; <a class="btn btn-primary btn-lg scrollTo" href="#contact">CONTACT US</a> </div>
	</div>
</section>
<!-- /Parallax -->
<!-- PORTFOLIO -->
<section id="portfolio" style="padding: 50px 0px;">
	<div class="container">
		<div class="heading-title heading-dotted text-center">
			<h1>Featured Work</h1> </div>
	</div>
	<div id="portfolio" class="portfolio-nogutter">
		<div class="row">
			<div class="col-md-3 col-sm-3 mix corporate">
				<!-- item -->
				<div class="item-box">
					<figure> <span class="item-hover">
							<span class="overlay dark-5"></span> <span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="r_assets/portfolio/port1.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span> </a>
						</span>
						</span>
						<%= image_tag "portfolio/port1.jpg",class:"img-fluid", height: 600, width: 399%>
					</figure>
					<div class="item-box-desc">
						<h3>Architecture Rockets</h3>
						<ul class="list-inline categories m-0">
							<li><a href="#top">I</a></li>
							<li><a href="#top">Walk</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->
			<div class="col-md-3 col-sm-3 mix residential">
				<!-- item -->
				<div class="item-box">
					<figure> <span class="item-hover">
							<span class="overlay dark-5"></span> <span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="r_assets/portfolio/port2.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span> </a>
						</span>
						</span>
						<%= image_tag "portfolio/port2.jpg",class:"img-fluid", height: 600, width: 399%>
					</figure>
					<div class="item-box-desc">
						<h3>Speaker Power</h3>
						<ul class="list-inline categories m-0">
							<li><a href="#top">Through</a></li>
							<li><a href="#top">The</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->
			<div class="col-md-3 col-sm-3 mix commercial">
				<!-- item -->
				<div class="item-box">
					<figure> <span class="item-hover">
							<span class="overlay dark-5"></span> <span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="r_assets/portfolio/port3.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span> </a>
						</span>
						</span>
						<%= image_tag "portfolio/port3.jpg",class:"img-fluid", height: 600, width: 399%>
					</figure>
					<div class="item-box-desc">
						<h3>Juice Propulsion</h3>
						<ul class="list-inline categories m-0">
							<li><a href="#top">Valley</a></li>
							<li><a href="#top">Of</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->
			<div class="col-md-3 col-sm-3 mix residential">
				<!-- item -->
				<div class="item-box">
					<figure> <span class="item-hover">
							<span class="overlay dark-5"></span> <span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="r_assets/portfolio/port4.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span> </a>
						</span>
						</span>
						<%= image_tag "portfolio/port4.jpg",class:"img-fluid", height: 600, width: 399%>
					</figure>
					<div class="item-box-desc">
						<h3>Art of Elevators</h3>
						<ul class="list-inline categories m-0">
							<li><a href="#top">The</a></li>
							<li><a href="#top">Shadow</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->
			<div class="col-md-3 col-sm-3 mix corporate">
				<!-- item -->
				<div class="item-box">
					<figure> <span class="item-hover">
							<span class="overlay dark-5"></span> <span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="r_assets/portfolio/port5.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span> </a>
						</span>
						</span>
						<%= image_tag "portfolio/port5.jpg",class:"img-fluid", height: 600, width: 399%>
					</figure>
					<div class="item-box-desc">
						<h3>Natural Elevators</h3>
						<ul class="list-inline categories m-0">
							<li><a href="#top">Of</a></li>
							<li><a href="#top">Death</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->
			<div class="col-md-3 col-sm-3 mix commercial">
				<!-- item -->
				<div class="item-box">
					<figure> <span class="item-hover">
							<span class="overlay dark-5"></span> <span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="r_assets/portfolio/port6.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span> </a>
						</span>
						</span>
						<%= image_tag "portfolio/port6.jpg",class:"img-fluid", height: 600, width: 399%>
					</figure>
					<div class="item-box-desc">
						<h3>Mobile Elevators</h3>
						<ul class="list-inline categories m-0">
							<li><a href="#top">I</a></li>
							<li><a href="#top">Take</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->
			<div class="col-md-3 col-sm-3 mix corporate">
				<!-- item -->
				<div class="item-box">
					<figure> <span class="item-hover">
							<span class="overlay dark-5"></span> <span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="r_assets/portfolio/port7.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span> </a>
						</span>
						</span>
						<%= image_tag "portfolio/port7.jpg",class:"img-fluid", height: 600, width: 399%>
					</figure>
					<div class="item-box-desc">
						<h3>Heaven Cannon</h3>
						<ul class="list-inline categories m-0">
							<li><a href="#top">A</a></li>
							<li><a href="#top">Look</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->
			<div class="col-md-3 col-sm-3 mix corporate">
				<!-- item -->
				<div class="item-box">
					<figure> <span class="item-hover">
							<span class="overlay dark-5"></span> <span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="r_assets/portfolio/port8.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span> </a>
						</span>
						</span>
						<%= image_tag "portfolio/port8.jpg",class:"img-fluid", height: 600, width: 399%>
					</figure>
					<div class="item-box-desc">
						<h3>Pocket Rocket</h3>
						<ul class="list-inline categories m-0">
							<li><a href="#top">To</a></li>
							<li><a href="#top">My</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->
			<div class="col-md-3 col-sm-3 mix corporate">
				<!-- item -->
				<div class="item-box">
					<figure> <span class="item-hover">
							<span class="overlay dark-5"></span> <span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="r_assets/portfolio/port9.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span> </a>
						</span>
						</span>
						<%= image_tag "portfolio/port9.jpg",class:"img-fluid", height: 600, width: 399%>
					</figure>
					<div class="item-box-desc">
						<h3>Xenos Probe Lifter</h3>
						<ul class="list-inline categories m-0">
							<li><a href="#top">Life</a></li>
							<li><a href="#top">And</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->
			<div class="col-md-3 col-sm-3 mix corporate">
				<!-- item -->
				<div class="item-box">
					<figure> <span class="item-hover">
							<span class="overlay dark-5"></span> <span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="r_assets/portfolio/port10.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span> </a>
						</span>
						</span>
						<%= image_tag "portfolio/port10.jpg",class:"img-fluid", height: 600, width: 399%>
					</figure>
					<div class="item-box-desc">
						<h3>Different Construction</h3>
						<ul class="list-inline categories m-0">
							<li><a href="#top">Realize</a></li>
							<li><a href="#top">That</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->
			<div class="col-md-3 col-sm-3 mix corporate">
				<!-- item -->
				<div class="item-box">
					<figure> <span class="item-hover">
							<span class="overlay dark-5"></span> <span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="r_assets/portfolio/port11.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span> </a>
						</span>
						</span>
						<%= image_tag "portfolio/port11.jpg",class:"img-fluid", height: 600, width: 399%>
					</figure>
					<div class="item-box-desc">
						<h3>Stairway To Heaven</h3>
						<ul class="list-inline categories m-0">
							<li><a href="#top">There's</a></li>
							<li><a href="#top">Nothin'</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->
			<div class="col-md-3 col-sm-3 mix corporate">
				<!-- item -->
				<div class="item-box">
					<figure> <span class="item-hover">
							<span class="overlay dark-5"></span> <span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="r_assets/portfolio/port12.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span> </a>
						</span>
						</span>
						<%= image_tag "portfolio/port12.jpg",class:"img-fluid", height: 600, width: 399%>
					</figure>
					<div class="item-box-desc">
						<h3>Not Safe Version</h3>
						<ul class="list-inline categories m-0">
							<li><a href="#top">Much</a></li>
							<li><a href="#top">Left</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->
		</div>
	</div>
</section>
<!-- /PORTFOLIO -->
<!-- TEAM -->
<div id="carouselExampleControls" class="carousel slide bg-dark" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div id="CEO" class="testimonial text-center p-20 m-10">
				<figure>
					<%= image_tag "CEO.jpg",class:"img-fluid rounded-circle", height: 600, width: 399%>
				</figure>
				<div class="testimonial-content p-0">
					<p class="lead text-light">Ms. Ceo has made it her life's goal to reach the stars. She has dreamt of elevators.</p> <cite class="text-light">
							Eileen Ceo
							<span class="text-light">"I was born for this."</span>
						</cite> </div>
			</div>
		</div>
		<div class="carousel-item">
			<div id="employee" class="testimonial text-center p-20 m-10">
				<figure>
					<%= image_tag "employee-of-the-month.jpg",class:"img-fluid rounded-circle", height: 600, width: 399%>
				</figure>
				<div class="testimonial-content p-0">
					<p class="lead text-light">Our employee of the month for the 3700 month straight...what a cool guy!</p> <cite class="text-light">
							Sevada Coolguy
							<span class="text-light">"im cool"</span>
						</cite> </div>
			</div>
		</div>
	</div>
</div>
<!-- /TEAM -->
<!-- News -->
<section id="news" style="padding: 50px 0px;">
	<div class="container">
		<div class="heading-title heading-dotted text-center">
			<h2>News</h2> </div>
		<div class="owl-carousel">
			<div class="img-hover">
				<a href="https://elevatorworld.com/news/daily-news/new-renderings-of-anticipated-detroit-tower-development/">
					<%= image_tag "news/news1.png",class:"img-fluid", height: 600, width: 399%>
				</a>
				<h4 class="text-left mt-20"><a href="https://elevatorworld.com/news/daily-news/new-renderings-of-anticipated-detroit-tower-development/">Detroit Tower Development</a></h4>
				<p class="text-left">Detroit is getting our elevator goodness.</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li> <i class="fa fa-calendar"></i> 11th Jul 2021 </li>
				</ul>
			</div>
			<div class="img-hover">
				<a href="https://elevatorworld.com/news/daily-news/tke-launches-max-in-singapore/">
					<%= image_tag "news/news2.png",class:"img-fluid", height: 600, width: 399%>
				</a>
				<h4 class="text-left mt-20"><a href="https://elevatorworld.com/news/daily-news/tke-launches-max-in-singapore/">TKE Launches Max</a></h4>
				<p class="text-left">Singapore is getting our elevator goodness.</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li> <i class="fa fa-calendar"></i> 26th Dec 2001 </li>
				</ul>
			</div>
			<div class="img-hover">
				<a href="https://elevatorworld.com/news/daily-news/connecticut-apartment-plan-to-add-elevators/">
					<%= image_tag "news/news3.png",class:"img-fluid", height: 600, width: 399%>
				</a>
				<h4 class="text-left mt-20"><a href="https://elevatorworld.com/news/daily-news/connecticut-apartment-plan-to-add-elevators/">Plan To Add Elevators</a></h4>
				<p class="text-left">Connecticut is getting our elevator goodness.</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li> <i class="fa fa-calendar"></i> 4th May 2020 </li>
				</ul>
			</div>
			<div class="img-hover">
				<a href="https://elevatorworld.com/news/daily-news/more-than-230-otis-units-for-shanghais-new-bund/">
					<%= image_tag "news/news4.png",class:"img-fluid", height: 600, width: 399%>
				</a>
				<h4 class="text-left mt-20"><a href="https://elevatorworld.com/news/daily-news/more-than-230-otis-units-for-shanghais-new-bund/">Shanghai’s New Bund</a></h4>
				<p class="text-left">Shanghai is getting our elevator goodness.</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li> <i class="fa fa-calendar"></i> 17th Feb 2017 </li>
				</ul>
			</div>
			<div class="img-hover">
				<a href="https://elevatorworld.com/news/daily-news/calgary-tower-development-threatens-historic-sites/">
					<%= image_tag "news/news5.png",class:"img-fluid", height: 600, width: 399%>
				</a>
				<h4 class="text-left mt-20"><a href="https://elevatorworld.com/news/daily-news/calgary-tower-development-threatens-historic-sites/">Calgary Tower Development</a></h4>
				<p class="text-left">Calgary is unfortunately not going to be getting the same goodness.</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li> <i class="fa fa-calendar"></i> 13th Dec 2019 </li>
				</ul>
			</div>
			<div class="img-hover">
				<a href="https://elevatorworld.com/news/daily-news/companies-wellair-brandywine-improve-air-systems/">
					<%= image_tag "news/news6.png",class:"img-fluid", height: 600, width: 399%>
				</a>
				<h4 class="text-left mt-20"><a href="https://elevatorworld.com/news/daily-news/companies-wellair-brandywine-improve-air-systems/">Improvement In Air Systems</a></h4>
				<p class="text-left">Even the air itself is a part of our twisted cabal.</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li> <i class="fa fa-calendar"></i> 29th Jan 2024 </li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- /News -->
<!-- Clients -->
<section id="clients" class="alternate" style="padding: 50px 0px;">
	<div class="container">
		<div class="heading-title heading-dotted text-center">
			<h2>Our Clients</h2> </div>
		<ul class="row clients-dotted list-inline">
			<li class="col-md-3 col-sm-3 col-6">
				<a href="#top">
					<%= image_tag "clients/apple.png",class:"img-fluid", height: 100, width: 100%>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a href="#top">
					<%= image_tag "clients/microsoft.png",class:"img-fluid", height: 100, width: 100%>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a href="#top">
					<%= image_tag "clients/adobe.png",class:"img-fluid", height: 200, width: 200%>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a href="#top">
					<%= image_tag "clients/discord.png",class:"img-fluid", height: 100, width: 100%>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a href="#top">
					<%= image_tag "clients/valve.png",class:"img-fluid", height: 200, width: 200%>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a href="#top">
					<%= image_tag "clients/overcast.png",class:"img-fluid", height: 100, width: 100%>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a href="#top">
					<%= image_tag "clients/google.png",class:"img-fluid", height: 100, width: 100%>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a href="#top">
					<%= image_tag "clients/slack.png",class:"img-fluid", height: 100, width: 100%>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a href="#top">
					<%= image_tag "clients/codeboxx.png",class:"img-fluid", height: 200, width: 200%>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a href="#top">
					<%= image_tag "clients/spotify.png",class:"img-fluid", height: 100, width: 100%>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a href="#top">
					<%= image_tag "clients/starbucks.png",class:"img-fluid", height: 100, width: 100%>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a href="#top">
					<%= image_tag "clients/tesla.png",class:"img-fluid", height: 100, width: 100%>
				</a>
			</li>
		</ul>
	</div>
</section>
<!-- /Clients -->
<!-- CONTACT -->
<section id="contact" style="padding: 50px 0px;">
	<div class="container">
		<header class="text-center mb-60">
			<h2>Contact Us</h2>
			<p class="lead font-lato">Any unwarranted contact will result in legal action.</p>
			<hr /> </header>
		<div class="row">
			<!-- FORM -->
			<div class="col-md-8 col-sm-8">
				<h3>Wanna let us in on the <strong><em>goods? </em></strong></h3>
				<!-- Alert Success -->
				<div id="alert_success" class="alert alert-success mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <strong>Thank You!</strong> Your message successfully sent! </div>
				<!-- /Alert Success -->
				<!-- Alert Failed -->
				<div id="alert_failed" class="alert alert-danger mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <strong>[SMTP] Error!</strong> Internal server error! </div>
				<!-- /Alert Failed -->
				<!-- Alert Mandatory -->
				<div id="alert_mandatory" class="alert alert-danger mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <strong>Sorry!</strong> You need to complete all mandatory (*) fields! </div>
				<!-- /Alert Mandatory -->
		<%= form_with(model: @lead, url: "/create_lead") do |form| %>
			<div class="row">
				<div class="field col-md-4">
					<%= form.label :name %>
					<%= form.text_field :name, class: "form-control pointer" %>
				</div>
				<div class="field col-md-4">
					<%= form.label :company_name %>
					<%= form.text_field :company_name, class: "form-control pointer" %>
				</div>
				<div class="field col-md-4">
					<%= form.label :email %>
					<%= form.text_field :email, class: "form-control pointer" %>
				</div>
				<div class="field col-md-4">
					<%= form.label :phone %>
					<%= form.text_field :phone, class: "form-control pointer" %>
				</div>
				<div class="field col-md-4">
					<%= form.label :project_name %>
					<%= form.text_field :project_name, class: "form-control pointer" %>
				</div>
				<div class="field col-md-4">
					<%= form.label :date %>
					<%= form.text_field :date, :readonly => true, value: Date.today, class: "form-control pointer" %>
				</div>
			</div>

			<div class="row">
				<div class="field col-md-8">
					<%= form.label :description %>
					<%= form.text_field :description, class: "form-control pointer" %>
				</div>
				<div class="field col-md-4">
					<%= form.label :department %>
					<%= form.select(:department, ["Support", "HR", "Juice", "Elevator Heads", "IT"], {}, { :style => "padding: 0px 4 px", class: "form-control pointer"})%>
				</div>
			</div>

			<div class="row">
				<div class="field col-md-12">
					<%= form.label :message %>
					<%= form.text_area :message, rows: 10, class: "form-control pointer"%>
				</div>
			</div>

			<div class="row">
				<div class="field col-md-12">
					<%= form.label :file %>
					<%= form.file_field :file %>
					<%# <%= image_tag event.file %> 
					<%= link_to 'View Image', @lead%>
					<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="h7uuauxptzhoz3p"></script>
				</div>
			</div>


			<div class="actions">
				<%= form.submit %>
			</div>
		<% end %>
		
			</div>
			<!-- /FORM -->
			<!-- INFO -->
			<div class="col-md-4 col-sm-4">
				<h2>Visit Us</h2>
				<div id="map2" class="h-400"></div>
				<hr />
				<p> <span class="block"><strong>Address:</strong> 4468 Wellington St Suite 204, Verdun, Quebec H4G 1W5</span> <span class="block"><strong>Phone:</strong> <a href="tel:(418) 555-1234">(418) 555-1234</a></span> <span class="block"><strong>Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span> </p>
			</div>
			<!-- /INFO -->
		</div>
	</div>
</section>
<!-- /CONTACT -->
<script>
$(".owl-carousel").owlCarousel({
	items: 4,
	loop: true,
	margin: 10,
	autoplay: true,
	autoplayTimeout: 5000,
	autoplayHoverPause: true
});
</script>