<div class="container">
  <%= form_with(model: intervention, local: true) do |form| %>
    <% if intervention.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>
  
        <ul>
        <% intervention.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div id="customer_id" class="field row db-id">
      <div class="col"><%= form.label :customer_id %></div>
      <div class="col"><%= form.select(:customer_id, [["--NONE--", 0]] + Customer.all.map{|customer| ["Customer ID: #{customer.id}", customer.id]}, {}, { :style => "padding: 0px 4 px; width:185px"}) %></div>
    </div>
  
    <div id="building_id" class="field row db-id">
      <div class="col"><%= form.label :building_id %></div>
      <div class="col"><%= form.select(:building_id, [["--NONE--", 0]], {}, { :style => "padding: 0px 4 px; width:185px"}) %></div>
    </div>
  
    <div id="battery_id" class="field row db-id">
      <div class="col"><%= form.label :battery_id %></div>
      <div class="col"><%= form.select(:battery_id, [["--NONE--", 0]], {}, { :style => "padding: 0px 4 px; width:185px"}) %></div>
    </div>
  
    <div id="column_id" class="field row db-id">
      <div class="col"><%= form.label :column_id %></div>
      <div class="col"><%= form.select(:column_id, [["--NONE--", 0]], {}, { :style => "padding: 0px 4 px; width:185px"}) %></div>
    </div>
  
    <div id="elevator_id" class="field row db-id">
      <div class="col"><%= form.label :elevator_id %></div>
      <div class="col"><%= form.select(:elevator_id, [["--NONE--", 0]], {}, { :style => "padding: 0px 4 px; width:185px"}) %></div>
    </div>
  
    <div id="employee_id" class="field row db-id">
      <div class="col"><%= form.label :employee_id %></div>
      <div class="col"><%= form.select(:employee_id, [["--NONE--", 0]], {}, { :style => "padding: 0px 4 px; width:185px"}) %></div>
    </div>
  
    <div id="report" class="field row db-id">
      <div class="col"><%= form.label :report, "Desciption" %></div>
      <div class="col"><%= form.text_area :report, cols: "50", rows: "3", style: "resize: none;" %></div>
    </div>
  
    <div id="sub-button" class="actions row">
      <div class="col"><%= form.submit class:"btn btn-primary", style: "width:200px"%></div>
    </div>

    <button id="hello" type="button" class="btn btn-primary">hello</button>
  <% end %>
</div>
<%= javascript_include_tag "intervention", "data-turbolinks-track" => true  %>
